.add-service-block {
  margin-bottom: 50px;
  background-color:#fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 60px 20px 0;
  text-align: center;
  position: relative;
  font-family: 'PTSansCaption',Tahoma, Geneva, sans-serif;

  .block-title {
    position:absolute;
    top:-5px;
    left:-189px;
    width:378px;
    height:44px;
    color:#fff;
    font-family:'Kelson sans';
    font-size:24px;
    line-height:44px;
    vertical-align:middle;
    margin-left:50%;
    background-image:url(/app/img/common/block-title-bg.png);
    background-repeat:no-repeat;
  }

  .main-list {
    padding:0;

    .service-type {
      border-right: 1px dashed #c5d6de;
    }
  }

  .add-on {
    padding:0;
  }

  .srv-type {
    padding-left: 65px;
    background: url('/app/img/common/plus.png') 20px top no-repeat;

    &.shade {
      font-weight: normal;
      opacity: 0.6;
    }

    &.disabled {
      background: url('/app/img/common/plus-disabled.png') 20px top no-repeat;
    }
  }

  .custom-req {
    width:45%;
    margin:30px auto 0;
    font-family: 'Kelson Sans';
    text-transform: uppercase;
    font-size: 18px;
    color: #3798d6;
    border: 2px dashed #c5dae2;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    padding: 7px 70px;
    text-decoration: none;

    a {
      color: #3798d6;
    }
  }

}
