.send-via-email {
  display: inline-block;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  background-color: #f1f1fa;
  box-shadow: 0 0 2px rgba(77, 77, 93, 0.5);

  &__label {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    height: 36px;
    line-height: 36px;    
    font-family: 'Kelson Sans';
    font-size: 17px;
    color: #6192b0;
    @include box-sizing(border-box);
  }

  &__input {
    width: 220px;
    margin-right: 10px;
    vertical-align: baseline;
  }

  &__action {
    display: inline-block;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
  }
}