.spinner {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: url('../img/spinner.gif');
    background-size: 60px auto;
    background-position: center;
    background-repeat: no-repeat;
}