.ci-company-select {
  padding: 10px 15px;
  width: 50%;
  margin: 30px auto 20px;
  border: 1px solid #c4cdd6;
  border-radius: 7px;
  font-size: 15px;
  color: #575757;
  background-color: #f5f5fe;

  &__field,
  &__field-label,
  &__actions {
    height: 35px;
    margin: 7px 0;
    vertical-align: middle;
  }

  &__field-label {
    line-height: 35px;
    white-space: nowrap;
    overflow: visible;
    text-align: right;
    font-family: 'Kelson Sans';
    font-size: 18px;
    color: #8d959d;
  }

  &__field-control {
    .selectize-input {
      height: 35px !important;
      white-space: nowrap;
      -webkit-transition: background-color 300ms linear;
      -moz-transition: background-color 300ms linear;
      -o-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;

      &.warning {
        background-color:#fec8bc !important;
      }
    }

    &.selectize-control {
      height:35px;
    }
  }

  &__actions {
    text-align: center;
  }

  &__control-item {
    display: inline-block;
    width:98%;
    height:25px;
    line-height:25px;
    vertical-align:top;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  &__control-option {
    height:40px;
    line-height:30px;
    vertical-align:top;
    position:relative;
    padding-top:3px !important;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #c7d4e0;
    @include box-sizing(border-box);

    &.active {
      background-color:#e9f9e8;
    }
  }
}
