.user-role-detail {

  &__permission {
    display: block;
    padding: 7px 0;
    border-bottom: 1px solid #c4cdd6;
    line-height: 1.2;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    .solid-checkbox {
      margin-right: 5px;
    }
  }
}