.users {
    table {
    min-width: 60%;
  }
  
  &__header-id {
    text-align: left;
    width: 50px;
  }

  &__header-name {
    text-align: center;
  }

  &__id,
  &__name {
    text-align: left;
  }

  &__name {
    font-weight: bold;
    color: #273b47;
    cursor: pointer;

    &:hover {
      color: #1c597e;
      text-decoration: underline;
    }
  }

  &__load-error {
    background-color: #fdb6b3;
  }

  &__loaded {
    background-color: #bafdb3;
  }
}